{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}
{% block page_header %}{{ category.title }}{% endblock %}

{% block body %}
{{ dump() }}
    <p>This is a category.</p>

    {% if authorOrBetter %}
        {% set buttons = [
            {
                'caption': 'Add',
                'icon': 'plus-circle',
                'url': path('lesson_new'),
                'title': 'Add a new lesson'
            }
        ] %}
        {% include 'partials/page_actions.html.twig' with buttons %}
    {% endif %}

    {% if parent %}
        <p>Up: <a href="{{ path('cat_show', {'id': parent.id}) }}">{{ parent.title }}</a></p>
    {% endif %}
    {% if prevSib %}
        <p>Previous: <a href="{{ path('cat_show', {'id': prevSib.id}) }}">{{ prevSib.title }}</a></p>
    {% endif %}
    {% if nextSib %}
        <p>Next: <a href="{{ path('cat_show', {'id': nextSib.id}) }}">{{ nextSib.title }}</a></p>
    {% endif %}
    {% if children %}
        <ul>
            {% for child in children %}
                <li><a href="{{ path('cat_show', {'id': child.id}) }}">{{ child.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>Nothing but title.</p>
{% endblock %}


