{% if lessonNavLinks is defined %}
    {# Start of prev/next/up. #}
    <div class="row lesson-nav" role="navigation">
        <div class="col-sm left-nav">
            {% if not (lessonNavLinks.leftLessonNavLink is null) %}
                <a class="btn btn-primary" role="button"
                   href="{{ path('content_show', {'contentType': contentType, 'slug': lessonNavLinks.leftLessonNavLink.slug }) }}"
                ><img src="{{ asset('images/octicons/triangle-left-white.svg') }}" alt="Previous" title="Previous"
                    >{{ lessonNavLinks.leftLessonNavLink.shortMenuTitle }}</a>
            {% endif %}
        </div>
        <div class="col-sm up-nav">
            {% if not (lessonNavLinks.parentLessonNavLink is null) %}
                <a class="btn btn-primary" role="button"
                   href="{{ path('content_show', {'contentType': contentType, 'slug': lessonNavLinks.parentLessonNavLink.slug }) }}"
                ><img src="{{ asset('images/octicons/triangle-up-white.svg') }}" alt="Up" title="Up"
                    >{{ lessonNavLinks.parentLessonNavLink.shortMenuTitle }}</a>
            {% endif %}
        </div>
        <div class="col-sm right-nav">
            {% if not (lessonNavLinks.rightLessonNavLink is null) %}
                <a class="btn btn-primary" role="button"
                   href="{{ path('content_show', {'contentType': contentType, 'slug': lessonNavLinks.rightLessonNavLink.slug }) }}"
                >{{ lessonNavLinks.rightLessonNavLink.shortMenuTitle }}<img
                            src="{{ asset('images/octicons/triangle-right-white.svg') }}" alt="Next" title="Next"
                    ></a>
            {% else %}
                {# There is no right link. If there is a child, use it as the right link. #}
                {% if not (lessonNavLinks.childrenLessonNavLinks is null) %}
                    {% if lessonNavLinks.childrenLessonNavLinks|length > 0 %}
                        {% set firstChild = lessonNavLinks.childrenLessonNavLinks[0] %}
                        <a class="btn btn-primary" role="button"
                           href="{{ path('content_show', {'contentType': contentType, 'slug': firstChild.slug }) }}"
                        >{{ firstChild.shortMenuTitle }}<img
                                    src="{{ asset('images/octicons/triangle-right-white.svg') }}" alt="Next" title="Next"
                            ></a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div> {# End of prev/next/up. #}
    {% if showChildren and not (lessonNavLinks.children is null) %}
        {# Show the children. #}
        <ul>
            {% for childSlug in lessonNavLinks.childrenLessonNavLinks %}
                <li><a href="{{ path('content_show', {'contentType': contentType, 'slug': child.slug }) }}"
                    >{{ child.shortMenuTitle }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    </ul>
{% endif %}
