<nav class="page-actions">
    {% for button in buttons %}
        {# Work out the button style. #}
        {% set buttonStyle = 'primary' %}
        {% if button.style is defined %}
                {% set buttonStyle = button.style %}
        {% endif %}
        <a class="btn btn-{{ buttonStyle }}{%
            if button.classes is defined %} {{ button.classes }}{% endif
        %}" href="{{ button.url }}"
        {% if button.title is defined %}
            title="{{ button.title }}"
        {% endif %}
        >{{ button.caption|raw }}</a>
    {% endfor %}
</nav>
