{# Link rendered as a button widget. #}
{# Caller needs to wrap this to define approprriate group --> <div class="form-group">#}
{# If help is set, need an id as well. #}
    {{ block('label') }}
    {{ block('compute_button_format') }}
    <a class="btn btn-{{ btnType }}{% if attr.extraClasses is defined %} {{ attr.extraClasses }}{% endif %}"
       href="{{ attr.href }}"
        {{ block('widget_attribs') }}
    >{{ buttonCaption }}</a>
    {% if attr.help is defined %}
        <small id="{{ id }}help" class="form-text text-muted">{{ attr.help|raw }}</small>
    {% endif %}
{# End of the wrapper. Everybody off. </div>#}
