{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'partials/datatables_css.html.twig' %}
{% endblock %}

{% block title %}Content with keyword: {{ keyword.text }}{% endblock %}
{% block page_header %}Content with keyword: {{ keyword.text }}{% endblock %}

{% block body %}

    <p>Here is the content tagged with the keyword "{{ keyword.text }}." Lessons, exercises, core ideas, and other
    content types can share the same keywords. </p>

    {% if keyword.notes %}
        <p>Keyword notes:</p>
        <p class="indent1">{{ keyword.notes }}</p>
    {% endif %}

    {#{% if authorOrBetter %}#}
        {#{% set buttons = [#}
            {#{#}
                {#'caption': 'Add',#}
                {#'icon': 'plus-circle',#}
                {#'url': path('lesson_new'),#}
                {#'title': 'Add a new lesson'#}
            {#}#}
        {#] %}#}
        {#{% include 'partials/page_actions.html.twig' with buttons %}#}
    {#{% endif %}#}

    <table id="displayTable" class="table display stripe-table highlight-sorting-column show-hover-row" width="100%"></table>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {% include 'partials/datatables_js.html.twig' %}
        <script>
            "use strict";
            var SkillCourse = SkillCourse || {};
            (function ($) {
                // Todo: fixed header not working. Extension on?
                var contentEntityData = [
                    {% for item in keyword.contentEntities %}
                        {% if item.isAvailable or authorOrBetter %}
                            {
                                'title': "<a href='{{ path('content_show', {'contentType': item.contentType, 'slug': item.slug}) }}'>{{ item.title }}</a>",
                                'contentType': "{{ content_type_display_name(item.contentType) }}",
                                {% if authorOrBetter %}
                                    'available': "{{ item.isAvailable ? 'Yes' : 'No' }}",
                                    'lastUpdate': "{{ item.whenUpdated|date('M, j Y, h:i a') }}",
                                    'edit': '<a href="{{ path('lesson_edit', {'id': item.id}) }}" class="btn btn-primary" role="button">Edit</a>'
                                {% endif %}
                            }{% if not loop.last %},{% endif %}
                        {% endif %}
                    {% endfor %}
                ];
                $(document).ready(function(){
                    var dataTableOptions = SkillCourse.getDataTableDefaults();
                    dataTableOptions.columns = [
                        {data: 'title', title: 'Title'},
                        {data: 'contentType', title: 'Content type'},
                        {% if authorOrBetter %}
                            {data: 'available', title: 'Available', className: 'centered'},
                            {data: 'lastUpdate', title: 'Last update'},
                            {data: 'edit', title: '', orderable: false}
                        {% endif %}
                    ];
                    dataTableOptions.data = contentEntityData;
                    $('#displayTable').DataTable( dataTableOptions );
                });
            }(jQuery));
        </script>
    {% endblock %}


