{% extends 'base.html.twig' %}

{% block body %}
    {{ dump() }}
    <h1>Keyword creation</h1>

    {{ form_start(form) }}


        {{ form_widget(form.title) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('keyword_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
