{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'partials/datatables_css.html.twig' %}
{% endblock %}

{% block title %}{{ contentTypeDisplayName }}s{% endblock %}
{% block page_header %}{{ contentTypeDisplayName }}s{% endblock %}

{% block body %}
    <p>Here are the {{ contentType }}s.</p>

    {% if authorOrBetter %}
        {% set buttons = [
            {
                'caption': 'Add',
                'url': path('content_new', {'contentType': contentType}),
                'title': 'Add a new ' ~ contentType
            }
        ] %}
        {% include 'partials/page_actions.html.twig' with buttons %}
    {% endif %}

    <table id="displayTable" {{
        constant('AppBundle\\Helper\\DataTableHelper::STANDARD_ATTRS')
    }}></table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'partials/datatables_js.html.twig' %}
    <script>
        // Todo: fixed header not working. Extension on?
        var tableData = [
            {% for item in content %}
                {% set showUrl = path('content_show', {'contentType': contentType, 'slug': item.slug }) %}
                {% set title = "<a href='#{showUrl}'>#{ item.title }</a>"|raw %}
                {% if contentType == constant('AppBundle\\Helper\\ContentTypes::LESSON') %}
                    {% set title = title ~ "<br><br>Tree title: #{ item.shortMenuTreeTitle }"|raw %}
                {% endif %}
                {
                    'title': "{{ title|raw }}",
                    'keywords': "{%
                        for keyword in item.keywords
                            %}<a href='{{ path('keyword_show', {'id': keyword.id}) }}'>{{ keyword.title }}</a>{%
                            if not loop.last %}, {% endif %}{%
                        endfor %}",
                    {% if authorOrBetter %}
                        'available': "{{ item.isAvailable ? 'Yes' : 'No' }}",
                        'lastUpdate': "{{ item.whenUpdated|date('M, j Y, h:i a') }}",
                        'edit': '<a href="{{
                            path('content_edit', {'contentType': contentType, 'id': item.id})
                        }}" class="btn btn-primary" role="button">Edit</a>'
                    {% endif %}
                }{% if not loop.last %},{% endif %}
            {% endfor %}
        ];
        //Prepare the options.
        var dataTableOptions = SkillCourse.getDataTableDefaults();
        //Called when a row is created.
        dataTableOptions.createdRow = function ( row, data, index ) {
            if ( data.available.toLowerCase() === 'no' ) {
                $(row).addClass('not-available');
            }
        };
        dataTableOptions.columns = [
            {data: 'title', title: 'Title'},
            {data: 'keywords', title:'Keywords', orderable: false},
            {% if authorOrBetter %}
                {data: 'available', title: 'Available', className: 'centered'},
                {data: 'lastUpdate', title: 'Last update'},
                {data: 'edit', title: '', orderable: false}
            {% endif %}
        ];
        dataTableOptions.data = tableData;
        $(document).ready(function(){
            $('#displayTable').DataTable( dataTableOptions );
        });
    </script>
{% endblock %}


