{% extends 'base.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}
{% block page_header %}{{ content.title }}{% endblock %}
{% block body %}
    {% if authorOrBetter %}
        <p>Author or better</p>
    {% endif %}

    {#<ul class="keyword-list">#}
        {#{% for keyword in lesson.keywords %}#}
            {#<li><a href="{{ path('keyword_show', {'id': keyword.id}) }}">{{ keyword.text }}</a></li>#}
        {#{% endfor %}#}
    {#</ul>#}

    {% include ':partials:lesson_navigation.html.twig' %}

    <article>
        {{ content.body }}
    </article>

    {% include ':partials:lesson_navigation.html.twig' %}

{% endblock %}