{# Show content to anon. or regular user. #}

{% extends 'base.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}
{% block page_header %}{{ content.title }}{% endblock %}
{% block body %}

    {% if content.keywords|length > 0 %}
        <p>Keywords:</p>
            <ul class="keyword-list">
            {% for keyword in content.keywords %}
                <li><a href="{{ path('keyword_show', {'id': keyword.id}) }}">{{ keyword.title }}</a></li>
            {% endfor %}
            </ul>

    {% endif %}

    {% if contentType == constant('AppBundle\\Helper\\ContentHelper::LESSON') %}
        {% include ':partials:lesson_navigation.html.twig' with { 'showChildren': false } %}
    {% endif %}

    <article>
        {{ content.body }}
    </article>

    {% if contentType == constant('AppBundle\\Helper\\ContentHelper::LESSON') %}
        {# Don't show child links in lesson nav. #}
        {% include ':partials:lesson_navigation.html.twig' with { 'showChildren': false } %}
    {% endif %}

{% endblock %}