{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Edit user{% endblock %}
{% block page_header %}Edit user{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {#<input type="submit" value="send">#}
    {# Page actions and form actions are defined differently. Probably should merge them. #}
    <nav class="form-actions">
        {% include 'partials/form_widgets/button.html.twig' with {
        'attr': {
        'type': 'submit',
        'caption': 'Save',
        'title': 'Save the data',
        }
        } %}
        {% include 'partials/form_widgets/button.html.twig' with {
        'attr': {
        'type': 'link',
        'caption': 'Cancel',
        'variant': 'secondary',
        'title': 'Fuggedaboudit',
        'href': cancel_destination
        }
        } %}
    </nav>

    <div class="form-group">
        <label>User photos</label>
        <p><small>Each user can have up to {{ max_num_photos }} photos.</small></p>
        <div id="uploader"></div>
    </div>
    {# Don't forget the CSRF token. #}
    {{ form_widget(form._token) }}

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'partials/fineuploader_css.html.twig' %}
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    {% include 'partials/fineuploader.html.twig' %}
    <script>
        $(document).ready(function(){
            var uploader = initUploader(
                document.getElementById("uploader"), //Where to show the uploader.
                '/rest/user-photo-uploader/{{ form.children.id.vars.value }}', //The upload endpoint.
                '/rest/user-photo-delete/{{ form.children.id.vars.value }}', //The delete endpoint.
                {{ max_num_photos }},
                {{ max_photo_file_size }},
                true //debug
            );
        });
    </script>
{% endblock %}
