{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}User profile{% endblock %}

{% block page_header %}User profile{% endblock %}

{% block body %}
    {{ dump() }}
    <p>Here is the user's profile.</p>

    {% set buttons = [{
        'caption': 'Edit',
        'url': path('admin_user_edit', {'id': user.id}),
        'title': 'Edit the user'
    }, {
        'caption': user.enabled ?  'Disable' : 'Enable',
        'url': path('not_implemented_yet'),
        'title': user.enabled
            ? 'Disable the account. The user will not be able to log in.'
            : 'Enable the account. The user will be able to log in.'
    }, {
        'caption': 'Delete',
        'url': path('not_implemented_yet'),
        'style': 'danger',
        'title': 'Delete this user\'s account, and all of it\'s content (e.g., submissions).',
    }] %}
    {% include 'partials/page_actions.html.twig' with buttons %}

    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'profile.show.firstName'|trans }}: {{ user.firstName }}</p>
    <p>{{ 'profile.show.lastName'|trans }}: {{ user.lastName }}</p>
    <p>{{ 'profile.show.enabled'|trans }}: {% if user.enabled %}Yes{% else %}No{% endif %}</p>
    <p>{{ 'profile.show.about'|trans }}</p>
    <p class="indent1">
        {% if user.aboutMe == "" %}
            (Empty.)
        {% else %}
            {{ user.aboutMe }}
        {% endif %}
    </p>
    <p>{{ 'profile.show.shareDeetsWithClass'|trans }}:
        {% if user.shareDeetsWithClass %}Yes{% else %}No{% endif %}
    </p>
    <p class="indent1">
        {% if user.shareDeetsWithClass %}
            User's name, about, and photos are shared with other students in the same class.
        {% else %}
            User's name, about, and photos are not shared.
        {% endif %}
    </p>
    {#Show photos. #}
    <p>{{ 'profile.show.photos'|trans }}</p>
    <p>Number of photos: {{ user.photos|length }}</p>
    {% if user.photos|length > 0 %}
        <ul class="user-photo-list">
        {% for userPhoto in userPhotoUploadedFiles %}
            <li>
                <img src="{{ userPhoto.uriPath }}" alt="Photo for {{ user.firstName }} {{ user.lastName }}">
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    <p>Enrollments</p>
    {% if user.enrollments|length == 0 %}
        <p>(No enrollments for this class.)</p>
    {% else %}
        <ul>
            {% for enrollment in user.enrollments %}
                <li>{{ enrollment.title }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}