{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'partials/datatables_css.html.twig' %}
{% endblock %}

{%  block page_header %}Users{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <p>Here are all the users. The heading of the sorting column is highlighted.</p>
        <table id="displayTable" {{
            constant('AppBundle\\Helper\\DataTableHelper::STANDARD_ATTRS')
        }}></table>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'partials/datatables_js.html.twig' %}
    <script>
        // Todo: fixed header not working. Extension on?
        var tableData = [
            {% for user in users %}
            {
                'id': "{{ user.id }}",
                'username': '<a href="{{ path('admin_user_show', {'id': user.id}) }}">{{ user.username }}</a>',
                'first_name': '{{ user.firstName }}',
                'last_name': '{{ user.lastName }}',
                'roles': '{{ show_roles_brief(user) }}',
                'email': '{{ user.email }}',
                'enabled': '{% if user.enabled  %}Yes{% else %}No{% endif %}',
                'edit': '<a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-primary" role="button">Edit</a>'
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        ];
        $(document).ready(function(){
            //Prepare the options.
            var dataTableOptions = SkillCourse.getDataTableDefaults();
            //Called when a row is created.
            dataTableOptions.createdRow = function ( row, data, index ) {
                if ( ! data.enabled ) {
                    $(row).addClass('not-available');
                }
            };
            dataTableOptions.columns = [
                { data: 'username', title: 'User name' },
                { data: 'first_name', title: 'First name' },
                { data: 'last_name', title: 'Last name' },
                { data: 'roles', title: 'Roles' },
                { data: 'enabled', title: 'Enabled', className: 'centered' },
                { data: 'email', title: 'Email' },
                { data: 'edit', title: '', orderable: false }
            ];
            dataTableOptions.data = tableData;
            $('#displayTable').DataTable( dataTableOptions );
        });
    </script>
{% endblock %}

